VAPID_PUBLIC_KEY=BDMeEJ9RfYAO504ecvPPfD6sJMEN7oQI9toAkBh93tQxDuTMq5dG2oMsH70Y2RD63FOoWJ4O1MzZMRMYi6lbsbk
VAPID_PRIVATE_KEY=vShkt7fjv9jTz1NZJBT0EAS_xMCLiLVStTx2d6zr-_o
VAPID_SUBJECT=mailto:example@example.com
CF_TURN_KEY_ID=
CF_TURN_KEY_API_TOKEN=
